<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcyt.familytree.hub.dao.family.FamilyCitangListMapper" >
    <resultMap id="BaseResultMap" type="com.hcyt.familytree.hub.entity.family.FamilyCitangList" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="family_id" property="familyId" jdbcType="INTEGER" />
        <result column="surname" property="surname" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="photo_num" property="photoNum" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Where_Condition" >
        <where >
            <if test="id != null and id!=''" >
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="familyId != null and familyId!=''" >
                and family_id=#{familyId,jdbcType=INTEGER}
            </if>
            <if test="surname != null and surname!=''" >
                and surname=#{surname,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null and createDate!=''" >
                and create_date=#{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="title != null and title!=''" >
                and title=#{title,jdbcType=VARCHAR}
            </if>
            <if test="photoNum != null and photoNum!=''" >
                and photo_num=#{photoNum,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <sql id="Sort_Condition" >
        <if test="sort!=null">
        order by
        <foreach collection="sort"  index="index"  item="item"  separator=",">
            ${item.field} ${item.dir}
        </foreach>
        </if>

    </sql>

    <sql id="Base_Column_List" >
        id, family_id, surname, create_date, title, photo_num
    </sql>

    <insert id="insert" parameterType="com.hcyt.familytree.hub.entity.family.FamilyCitangList" >
        insert into family_citang_list
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id!=''" >
                id,
            </if>
            <if test="familyId != null and familyId!=''" >
                family_id,
            </if>
            <if test="surname != null and surname!=''" >
                surname,
            </if>
            <if test="createDate != null and createDate!=''" >
                create_date,
            </if>
            <if test="title != null and title!=''" >
                title,
            </if>
            <if test="photoNum != null and photoNum!=''" >
                photo_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id!=''" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="familyId != null and familyId!=''" >
                #{familyId,jdbcType=INTEGER},
            </if>
            <if test="surname != null and surname!=''" >
                #{surname,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and createDate!=''" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null and title!=''" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="photoNum != null and photoNum!=''" >
                #{photoNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.hcyt.familytree.hub.entity.family.FamilyCitangList" >
        update family_citang_list
        <set >
            <if test="familyId != null" >
                family_id = #{familyId,jdbcType=INTEGER},
            </if>
            <if test="surname != null" >
                surname = #{surname,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="photoNum != null" >
                photo_num = #{photoNum,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer" >
        delete from family_citang_list
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="countParam" parameterType="java.util.Map" resultType="java.lang.Integer" >
        select count(*) from family_citang_list
       <include refid="Where_Condition" />
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from family_citang_list
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectParam" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from family_citang_list
        <include refid="Where_Condition" />
        <include refid="Sort_Condition" />
    </select>

    <select id="selectParam_page" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from family_citang_list
        <include refid="Where_Condition" />
        <include refid="Sort_Condition" />
    </select>

</mapper>