<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcyt.read.hub.dao.BoardIndexDataMapper" >
    <resultMap id="BaseResultMap" type="com.hcyt.read.hub.entity.BoardIndexData" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="total_user" property="totalUser" jdbcType="INTEGER" />
        <result column="today_add_user" property="todayAddUser" jdbcType="INTEGER" />
        <result column="yesterday_add_user" property="yesterdayAddUser" jdbcType="INTEGER" />
        <result column="total_visit_num" property="totalVisitNum" jdbcType="INTEGER" />
        <result column="today_visit_num" property="todayVisitNum" jdbcType="INTEGER" />
        <result column="yesterday_visit_num" property="yesterdayVisitNum" jdbcType="INTEGER" />
        <result column="total_expand_num" property="totalExpandNum" jdbcType="INTEGER" />
        <result column="today_expand_num" property="todayExpandNum" jdbcType="INTEGER" />
        <result column="yesterday_expand_num" property="yesterdayExpandNum" jdbcType="INTEGER" />
        <result column="total_share_product" property="totalShareProduct" jdbcType="INTEGER" />
        <result column="today_share_product" property="todayShareProduct" jdbcType="INTEGER" />
        <result column="yesterday_share_product" property="yesterdayShareProduct" jdbcType="INTEGER" />
        <result column="shop_num" property="shopNum" jdbcType="INTEGER" />
        <result column="provincial_shop_num" property="provincialShopNum" jdbcType="INTEGER" />
        <result column="city_shop_num" property="cityShopNum" jdbcType="INTEGER" />
        <result column="county_shop_num" property="countyShopNum" jdbcType="INTEGER" />
        <result column="township_shop_num" property="townshipShopNum" jdbcType="INTEGER" />
        <result column="university_shop_num" property="universityShopNum" jdbcType="INTEGER" />
        <result column="community_shop_num" property="communityShopNum" jdbcType="INTEGER" />
        <result column="wenhua_num" property="wenhuaNum" jdbcType="INTEGER" />
        <result column="provider_num" property="providerNum" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Where_Condition" >
        <where >
            <if test="id != null and id!=''" >
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="totalUser != null and totalUser!=''" >
                and total_user=#{totalUser,jdbcType=INTEGER}
            </if>
            <if test="todayAddUser != null and todayAddUser!=''" >
                and today_add_user=#{todayAddUser,jdbcType=INTEGER}
            </if>
            <if test="yesterdayAddUser != null and yesterdayAddUser!=''" >
                and yesterday_add_user=#{yesterdayAddUser,jdbcType=INTEGER}
            </if>
            <if test="totalVisitNum != null and totalVisitNum!=''" >
                and total_visit_num=#{totalVisitNum,jdbcType=INTEGER}
            </if>
            <if test="todayVisitNum != null and todayVisitNum!=''" >
                and today_visit_num=#{todayVisitNum,jdbcType=INTEGER}
            </if>
            <if test="yesterdayVisitNum != null and yesterdayVisitNum!=''" >
                and yesterday_visit_num=#{yesterdayVisitNum,jdbcType=INTEGER}
            </if>
            <if test="totalExpandNum != null and totalExpandNum!=''" >
                and total_expand_num=#{totalExpandNum,jdbcType=INTEGER}
            </if>
            <if test="todayExpandNum != null and todayExpandNum!=''" >
                and today_expand_num=#{todayExpandNum,jdbcType=INTEGER}
            </if>
            <if test="yesterdayExpandNum != null and yesterdayExpandNum!=''" >
                and yesterday_expand_num=#{yesterdayExpandNum,jdbcType=INTEGER}
            </if>
            <if test="totalShareProduct != null and totalShareProduct!=''" >
                and total_share_product=#{totalShareProduct,jdbcType=INTEGER}
            </if>
            <if test="todayShareProduct != null and todayShareProduct!=''" >
                and today_share_product=#{todayShareProduct,jdbcType=INTEGER}
            </if>
            <if test="yesterdayShareProduct != null and yesterdayShareProduct!=''" >
                and yesterday_share_product=#{yesterdayShareProduct,jdbcType=INTEGER}
            </if>
            <if test="shopNum != null and shopNum!=''" >
                and shop_num=#{shopNum,jdbcType=INTEGER}
            </if>
            <if test="provincialShopNum != null and provincialShopNum!=''" >
                and provincial_shop_num=#{provincialShopNum,jdbcType=INTEGER}
            </if>
            <if test="cityShopNum != null and cityShopNum!=''" >
                and city_shop_num=#{cityShopNum,jdbcType=INTEGER}
            </if>
            <if test="countyShopNum != null and countyShopNum!=''" >
                and county_shop_num=#{countyShopNum,jdbcType=INTEGER}
            </if>
            <if test="townshipShopNum != null and townshipShopNum!=''" >
                and township_shop_num=#{townshipShopNum,jdbcType=INTEGER}
            </if>
            <if test="universityShopNum != null and universityShopNum!=''" >
                and university_shop_num=#{universityShopNum,jdbcType=INTEGER}
            </if>
            <if test="communityShopNum != null and communityShopNum!=''" >
                and community_shop_num=#{communityShopNum,jdbcType=INTEGER}
            </if>
            <if test="wenhuaNum != null and wenhuaNum!=''" >
                and wenhua_num=#{wenhuaNum,jdbcType=INTEGER}
            </if>
            <if test="providerNum != null and providerNum!=''" >
                and provider_num=#{providerNum,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <sql id="Sort_Condition" >
        <if test="sort!=null">
        order by
        <foreach collection="sort"  index="index"  item="item"  separator=",">
            ${item.field} ${item.dir}
        </foreach>
        </if>

    </sql>

    <sql id="Base_Column_List" >
        id, total_user, today_add_user, yesterday_add_user, total_visit_num, today_visit_num, 
        yesterday_visit_num, total_expand_num, today_expand_num, yesterday_expand_num, total_share_product, 
        today_share_product, yesterday_share_product, shop_num, provincial_shop_num, city_shop_num, 
        county_shop_num, township_shop_num, university_shop_num, community_shop_num, wenhua_num, 
        provider_num
    </sql>

    <insert id="insert" parameterType="com.hcyt.read.hub.entity.BoardIndexData" >
        insert into board_index_data
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id!=''" >
                id,
            </if>
            <if test="totalUser != null and totalUser!=''" >
                total_user,
            </if>
            <if test="todayAddUser != null and todayAddUser!=''" >
                today_add_user,
            </if>
            <if test="yesterdayAddUser != null and yesterdayAddUser!=''" >
                yesterday_add_user,
            </if>
            <if test="totalVisitNum != null and totalVisitNum!=''" >
                total_visit_num,
            </if>
            <if test="todayVisitNum != null and todayVisitNum!=''" >
                today_visit_num,
            </if>
            <if test="yesterdayVisitNum != null and yesterdayVisitNum!=''" >
                yesterday_visit_num,
            </if>
            <if test="totalExpandNum != null and totalExpandNum!=''" >
                total_expand_num,
            </if>
            <if test="todayExpandNum != null and todayExpandNum!=''" >
                today_expand_num,
            </if>
            <if test="yesterdayExpandNum != null and yesterdayExpandNum!=''" >
                yesterday_expand_num,
            </if>
            <if test="totalShareProduct != null and totalShareProduct!=''" >
                total_share_product,
            </if>
            <if test="todayShareProduct != null and todayShareProduct!=''" >
                today_share_product,
            </if>
            <if test="yesterdayShareProduct != null and yesterdayShareProduct!=''" >
                yesterday_share_product,
            </if>
            <if test="shopNum != null and shopNum!=''" >
                shop_num,
            </if>
            <if test="provincialShopNum != null and provincialShopNum!=''" >
                provincial_shop_num,
            </if>
            <if test="cityShopNum != null and cityShopNum!=''" >
                city_shop_num,
            </if>
            <if test="countyShopNum != null and countyShopNum!=''" >
                county_shop_num,
            </if>
            <if test="townshipShopNum != null and townshipShopNum!=''" >
                township_shop_num,
            </if>
            <if test="universityShopNum != null and universityShopNum!=''" >
                university_shop_num,
            </if>
            <if test="communityShopNum != null and communityShopNum!=''" >
                community_shop_num,
            </if>
            <if test="wenhuaNum != null and wenhuaNum!=''" >
                wenhua_num,
            </if>
            <if test="providerNum != null and providerNum!=''" >
                provider_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id!=''" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="totalUser != null and totalUser!=''" >
                #{totalUser,jdbcType=INTEGER},
            </if>
            <if test="todayAddUser != null and todayAddUser!=''" >
                #{todayAddUser,jdbcType=INTEGER},
            </if>
            <if test="yesterdayAddUser != null and yesterdayAddUser!=''" >
                #{yesterdayAddUser,jdbcType=INTEGER},
            </if>
            <if test="totalVisitNum != null and totalVisitNum!=''" >
                #{totalVisitNum,jdbcType=INTEGER},
            </if>
            <if test="todayVisitNum != null and todayVisitNum!=''" >
                #{todayVisitNum,jdbcType=INTEGER},
            </if>
            <if test="yesterdayVisitNum != null and yesterdayVisitNum!=''" >
                #{yesterdayVisitNum,jdbcType=INTEGER},
            </if>
            <if test="totalExpandNum != null and totalExpandNum!=''" >
                #{totalExpandNum,jdbcType=INTEGER},
            </if>
            <if test="todayExpandNum != null and todayExpandNum!=''" >
                #{todayExpandNum,jdbcType=INTEGER},
            </if>
            <if test="yesterdayExpandNum != null and yesterdayExpandNum!=''" >
                #{yesterdayExpandNum,jdbcType=INTEGER},
            </if>
            <if test="totalShareProduct != null and totalShareProduct!=''" >
                #{totalShareProduct,jdbcType=INTEGER},
            </if>
            <if test="todayShareProduct != null and todayShareProduct!=''" >
                #{todayShareProduct,jdbcType=INTEGER},
            </if>
            <if test="yesterdayShareProduct != null and yesterdayShareProduct!=''" >
                #{yesterdayShareProduct,jdbcType=INTEGER},
            </if>
            <if test="shopNum != null and shopNum!=''" >
                #{shopNum,jdbcType=INTEGER},
            </if>
            <if test="provincialShopNum != null and provincialShopNum!=''" >
                #{provincialShopNum,jdbcType=INTEGER},
            </if>
            <if test="cityShopNum != null and cityShopNum!=''" >
                #{cityShopNum,jdbcType=INTEGER},
            </if>
            <if test="countyShopNum != null and countyShopNum!=''" >
                #{countyShopNum,jdbcType=INTEGER},
            </if>
            <if test="townshipShopNum != null and townshipShopNum!=''" >
                #{townshipShopNum,jdbcType=INTEGER},
            </if>
            <if test="universityShopNum != null and universityShopNum!=''" >
                #{universityShopNum,jdbcType=INTEGER},
            </if>
            <if test="communityShopNum != null and communityShopNum!=''" >
                #{communityShopNum,jdbcType=INTEGER},
            </if>
            <if test="wenhuaNum != null and wenhuaNum!=''" >
                #{wenhuaNum,jdbcType=INTEGER},
            </if>
            <if test="providerNum != null and providerNum!=''" >
                #{providerNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.hcyt.read.hub.entity.BoardIndexData" >
        update board_index_data
        <set >
            <if test="totalUser != null" >
                total_user = #{totalUser,jdbcType=INTEGER},
            </if>
            <if test="todayAddUser != null" >
                today_add_user = #{todayAddUser,jdbcType=INTEGER},
            </if>
            <if test="yesterdayAddUser != null" >
                yesterday_add_user = #{yesterdayAddUser,jdbcType=INTEGER},
            </if>
            <if test="totalVisitNum != null" >
                total_visit_num = #{totalVisitNum,jdbcType=INTEGER},
            </if>
            <if test="todayVisitNum != null" >
                today_visit_num = #{todayVisitNum,jdbcType=INTEGER},
            </if>
            <if test="yesterdayVisitNum != null" >
                yesterday_visit_num = #{yesterdayVisitNum,jdbcType=INTEGER},
            </if>
            <if test="totalExpandNum != null" >
                total_expand_num = #{totalExpandNum,jdbcType=INTEGER},
            </if>
            <if test="todayExpandNum != null" >
                today_expand_num = #{todayExpandNum,jdbcType=INTEGER},
            </if>
            <if test="yesterdayExpandNum != null" >
                yesterday_expand_num = #{yesterdayExpandNum,jdbcType=INTEGER},
            </if>
            <if test="totalShareProduct != null" >
                total_share_product = #{totalShareProduct,jdbcType=INTEGER},
            </if>
            <if test="todayShareProduct != null" >
                today_share_product = #{todayShareProduct,jdbcType=INTEGER},
            </if>
            <if test="yesterdayShareProduct != null" >
                yesterday_share_product = #{yesterdayShareProduct,jdbcType=INTEGER},
            </if>
            <if test="shopNum != null" >
                shop_num = #{shopNum,jdbcType=INTEGER},
            </if>
            <if test="provincialShopNum != null" >
                provincial_shop_num = #{provincialShopNum,jdbcType=INTEGER},
            </if>
            <if test="cityShopNum != null" >
                city_shop_num = #{cityShopNum,jdbcType=INTEGER},
            </if>
            <if test="countyShopNum != null" >
                county_shop_num = #{countyShopNum,jdbcType=INTEGER},
            </if>
            <if test="townshipShopNum != null" >
                township_shop_num = #{townshipShopNum,jdbcType=INTEGER},
            </if>
            <if test="universityShopNum != null" >
                university_shop_num = #{universityShopNum,jdbcType=INTEGER},
            </if>
            <if test="communityShopNum != null" >
                community_shop_num = #{communityShopNum,jdbcType=INTEGER},
            </if>
            <if test="wenhuaNum != null" >
                wenhua_num = #{wenhuaNum,jdbcType=INTEGER},
            </if>
            <if test="providerNum != null" >
                provider_num = #{providerNum,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer" >
        delete from board_index_data
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="countParam" parameterType="java.util.Map" resultType="java.lang.Integer" >
        select count(*) from board_index_data
       <include refid="Where_Condition" />
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from board_index_data
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectParam" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from board_index_data
        <include refid="Where_Condition" />
        <include refid="Sort_Condition" />
    </select>

    <select id="selectParam_page" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from board_index_data
        <include refid="Where_Condition" />
        <include refid="Sort_Condition" />
    </select>

</mapper>